body{
    font-family: 'Inter', sans-serif;
    color: #000;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0;

}
a, li{
    text-decoration: none;
    list-style-type: none;

}

.container{
    display: block;
    max-width: 1180px;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
}



/* header section */

header .header_logo img{
    position: relative;
    justify-content: center;
}

header, header .container{
    height: 100px;
 
}
header .header_container .header_logo{
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


header .header_container{
    position: relative;
    height: 100px;
    overflow: hidden;
}

nav{
    position: relative;
    display: block;
    text-align: center;
    height: 100%;
    line-height: 100px;
}

nav ul{

padding: 0;
margin: 0;
}

nav ul li{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;

}
nav ul li a{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-transform: lowercase;
    padding: 0 55px 0 55px;
}
nav ul li a::hover{
    color: brown;
}

/* end of header section */

.hero_expanded{
    background: url("img/hero.jpg") no-repeat top / cover;
    position: absolute;
    height: 746px;
    width: 100%;
    top: 183px;
}
.hero_expanded:before {
    content: "";
    width: 100%;
    height: 430px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);

}

#hero{
    position: relative;
    background: transparent;
    height: 791px;
}
#hero .site_name_tag{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

#hero .site_name_tag h1{
    position: absolute;
    font-family: 'itim', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    margin: 0;
    line-height: 60px;
    margin-bottom: 15px;
}

#hero .site_name_tag a{
    position: absolute;
    background: rgba(43, 25, 25, 0.84);
    width: 200px;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: block;
    line-height: 40px;
    margin-top: 65px;
    border-radius: 25px;
    
}

#hero .site_name_tag a:hover{
    background: red;
    color: #fff;
}
/*end of hero sedtion*/

.blank_module .left_container{
    display: inline-block;
    vertical-align: middle;
}

.blank_module{
    padding: -16px 0;
}

.blank_module .left_container{
    width: 45%;
  
}

.blank_module .left_container h6{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.blank_module .left_container p{
    position: relative;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 300;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    width: 543px;

}
/*end of blank module*/

/*midbox */

#mid_box{
    padding-bottom: 40px;
    height: auto;
}

#mid_box .container h1{
    text-align: center;
}

#mid_box ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

#mid_box ul li{
    width: 415px;
    padding-bottom: 40px;
    height: auto;
    min-height: 350px;
    background: transparent;
    text-align: center;
    line-height: 82px;  
}
.container ul li h4{
    font-size: 25px;
}

.mid_box .container ul li h4{
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
}

#mid_box ul li p{
    padding: 20px 50px 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

#mid_box ul li img{
    margin: 40px auto 0;
    width: 300px;
    height: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    background: #FFFFFF;
    color: #000;
    display: block;
    text-align: center;
}

/* footer Section */
footer {
    background: #575757;
    min-height: 700px;
    color: #fff;
}

footer .container{
    background: #575757;
    line-height: 30px;
    padding: 30px;
}
footer .ftr-top h1{
    position: absolute;
    font-size: 30px;
    font-weight: 300px;
}

footer .ftr-top p{
    position: absolute;
    color: #fff;
    font-size: 18px;
    width: 360px;
    padding: 60px 0 60px;
}

.form{
    text-align: center;
    height: 560px;
    background: gray;
    border-radius: 33px;
    background-color: rgba(241, 241, 241, 0.2);
    padding: 55px;
    min-height: auto;
    float: right;
    right: 0;
    display: block;
    line-height: 60px;
    width: 369px;
    margin: 0 auto;

}

.foot{
    width: 268px;
    padding: 0 58px 0 30px;
    margin: 0 auto;
}
.form .foot p {
    text-align: left;
    padding-block: 12px;
    position: relative;
}
.foot .texto, .foot .commento {
    position: relative;
    width: 239px;
    height: auto;
    margin: 0;
    height: 10px;
}

.foot .texto {
    padding-block: 16px;
    padding-inline: 0px;
}

.foot p, input{
    padding: 20px 0;
    margin: 0;
}




